<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gestionTresorerie.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gestionTresorerie.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <gestionTresorerie.My.MySettings>
            <setting name="ficRessources" serializeAs="String">
                <value>C:\Users\User\source\repos\gestionTresorerie\ressources\categories.ini</value>
            </setting>
            <setting name="ficTiers" serializeAs="String">
                <value>C:\Users\User\source\repos\gestionTresorerie\ressources\tiers.xml</value>
            </setting>
            <setting name="repDonnées" serializeAs="String">
                <value>C:\Users\User\source\repos\gestionTresorerie\gestionTresorerie\Données</value>
            </setting>
            <setting name="ficBddDonnees" serializeAs="String">
                <value>G:\Mon Drive\AGUMAAA\Documents\BacASable\bddAgumaaa.mdf</value>
            </setting>
        </gestionTresorerie.My.MySettings>
    </applicationSettings>
    <userSettings>
        <gestionTresorerie.My.MySettings>
            <setting name="ficEvénement" serializeAs="String">
                <value>C:\Users\User\source\repos\gestionTresorerie\ressources\événement.ini</value>
            </setting>
            <setting name="ficType" serializeAs="String">
                <value>C:\Users\User\source\repos\gestionTresorerie\ressources\type.ini</value>
            </setting>
            <setting name="ficBilan" serializeAs="String">
                <value>C:\Users\User\source\repos\gestionTresorerie\gestionTresorerie\bin\Debug\net8.0-windows\monFichier.docx</value>
            </setting>
        </gestionTresorerie.My.MySettings>
    </userSettings>
</configuration>
