<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gestionTresorerie.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gestionTresorerie.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="gestionTresorerie.My.MySettings.DBsourceProd" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;G:\Mon Drive\AGUMAAA\Documents\BacASable\bddAgumaaa.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
        <add name="gestionTresorerie.My.MySettings.DBsource" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;G:\Mon Drive\AGUMAAA\Documents\BacASable\bddAgumaaa.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
        <add name="gestionTresorerie.My.MySettings.DBsourceTest" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;G:\Mon Drive\AGUMAAA\Documents\BacASable\bddAgumaaa.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
    <applicationSettings>
        <gestionTresorerie.My.MySettings>
            <setting name="ficRessources" serializeAs="String">
                <value>ressources\categories.ini</value>
            </setting>
            <setting name="ficTiers" serializeAs="String">
                <value>ressources\tiers.xml</value>
            </setting>
            <setting name="repDonnées" serializeAs="String">
                <value>gestionTresorerie\Données</value>
            </setting>
            <setting name="fichierLog" serializeAs="String">
                <value>ressources\gestionTresorerie.log</value>
            </setting>
            <setting name="repInstallation" serializeAs="String">
                <value>C:\Users\User\source\repos\gestionTresorerie\</value>
            </setting>
            <setting name="repInstallationProd" serializeAs="String">
                <value>C:\Users\User\source\repos\gestionTresorerie\</value>
            </setting>
            <setting name="repInstallationTest" serializeAs="String">
                <value>C:\Users\User\source\repos\gestionTresorerie\</value>
            </setting> 
            <setting name="AttachDbFilenameProd" serializeAs="String">
                <value>G:\Mon Drive\AGUMAAA\Documents\BacASable\bddAgumaaa.mdf</value>
            </setting>
            <setting name="AttachDbFilenameTest" serializeAs="String">
                <value>G:\Mon Drive\AGUMAAA\Documents\BacASable\bddAgumaaa.mdf</value>
            </setting>
            <setting name="repChqProd" serializeAs="String">
                <value>G:\Mon Drive\AGUMAAA\Gestion\Trésorerie\Comptabilité\Eléments comptables\Chèques\</value>
            </setting>
            <setting name="repChqTest" serializeAs="String">
                <value>G:\Mon Drive\AGUMAAA\Gestion\Trésorerie\Comptabilité\Eléments comptables\Chèques\</value>
            </setting>
            <setting name="ParamDb" serializeAs="String">
                <value>;Integrated Security=True;Connect Timeout=30</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=</value>
            </setting>
            <setting name="ficEvénement" serializeAs="String">
                <value>ressources\événement.ini</value>
            </setting>
            <setting name="ficType" serializeAs="String">
                <value>ressources\type.ini</value>
            </setting>
            <setting name="ficBilan" serializeAs="String">
                <value>gestionTresorerie\bin\Debug\net8.0-windows\monFichier.docx</value>
            </setting>
            <setting name="urlMistral" serializeAs="String">
                <value>https://api.mistral.ai/v1/chat/completions</value>
            </setting> 
        </gestionTresorerie.My.MySettings>
    </applicationSettings>
    <userSettings>
        <gestionTresorerie.My.MySettings>
            <setting name="Requetes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>SELECT ssCat.libelle, sum(mvt.montant) FROM Mouvements mvt, sousCategorie ssCat where ssCat.id = mvt.tabCategorie and mvt.Categorie = '%Id' group by sscat.id order by sum(mvt.montant) desc;</string>
                        <string>SELECT evt.libelle, sum(mvt.montant) FROM Mouvements mvt, Evenements evt where evt.id = mvt.tabCategorie and mvt.événement = '%Id' group by événement.id order by événement.id desc;</string>
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
        </gestionTresorerie.My.MySettings>
    </userSettings>
</configuration>
